.catalogPage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 100vh;
  height: 100%;
  z-index: 999;
  position: relative;
  color: #fff;
  .sidebar {
    position: fixed;
    z-index: 999;
  }
  .catalogContent {
    margin-left: 300px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .search {
      margin: 0 auto;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 20px;
    }
  }
}
 @media screen and (max-width: 600px) {
  .catalogPage{
    .catalogContent{
      margin-left: 0px;
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        left: 0;
      }
    }
  }
  
 }